<header>
    <div class="header-container">
        <div class="logo">
            <a href="/" class="logo"><img src="/images/logo.png" alt="Logo Mova"></a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/shop">Cửa hàng</a></li>
                <li><a href="/about">Về chúng tôi</a></li>
                <li><a href="/contact">Liên hệ</a></li>
                <li><a href="/blog">Bài viết</a></li>
            </ul>
        </nav>
        <div class="nav-icons">
            <i class="fas fa-search"></i>
            <i class="far fa-user"></i>
            <i class="far fa-heart"></i>
            <a href="/thanh-toan"><i class="fa-regular fa-credit-card"></i></a>
        </div>
    </div>
</header>